/* Layout SP */
@media all and (max-width: 767px) {
  .visual img {
    width: 100%; } }
/* Layout PC */
@media all and (min-width: 768px) {
  .visual {
    text-align: center; }

  .list02 li {
    padding-bottom: 0; } }
/*--------- main ---------*/
#main { }

.list03 .slick-next {
  top: 35%;
  right: 4px; }

.list03 .slick-prev {
  top: 35%;
  left: 14px; }

.list03 li a,
.list02 li a {
  color: #000;
  text-decoration: none; }

.list03 li a {
  color: #808080; }

.next, .next-two, .next-three {
  background: url(../images/btn_next.png) no-repeat 0 0;
  width: 22px;
  height: 42px;
  z-index: 10;
  position: relative;
  cursor: pointer;
  font-size: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  right: -40px;
  top: 38%; }

.prev, .prev-two, .prev-three {
  background: url(../images/btn_prev.png) no-repeat 0 0;
  width: 22px;
  height: 42px;
  z-index: 10;
  position: relative;
  cursor: pointer;
  font-size: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  left: -40px;
  top: 38%; }

.prev:hover,
.prev-two:hover,
.prev-three:hover,
.next:hover,
.next-two:hover,
.next-three:hover {
  opacity: 0.7; }
  .cover { margin-bottom: 40px; position: relative; }
  .cover .campaign_neko {
    bottom: -35px;
    display: block;
    height: 200px;
    position: absolute;
    right: 25px;
    width: 156px;
    z-index: 100;
  }
  .cover .campaign_neko img { display: block; width: 100%; }
  .cover .campaign_neko:hover { opacity: .9; }
  .cover img {  display: block; position: relative; width: 100%; }
  .mouthwash {
    display: block;
    margin: 0 auto;
    padding: 0 0 26px 0;
  }
  .mouthwash h2 {
    color: #00276f;
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    margin: 0 0 18px 0;
  }
  .mouthwash p {
    color: #00276f;
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 25px 0;
  }
  .mouthwash a.btn {
    background-color: #fff;
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 1px solid #00276f;
    border-radius: 10px;
    color: #00276f;
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin: 0 auto;
    padding: 19px 0;
    position: relative;
    text-decoration: none;
    width: 300px;
  }
  .mouthwash a.btn:hover { opacity: .8; }
  .mouthwash a.more {  background-image: url('../images/btn_next_blue.png'); }
  .mouthwash a.goto {  background-image: url('../images/btn_down.png'); }
  .mouthwash .text01 {
    display: block;
    margin: 68px auto 12px;
    width: 731px;
  }
  .mouthwash .figure01 {
    display: block;
    margin: 0 auto 20px;
    width: 578px;
  }
  .mouthwash .figure02 {
    display: block;
    margin: 58px auto 0;
    width: 682px;
  }
  .ambassador {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 47px 0 45px;
    position: relative;
  }
  .one, .three {
    background-image: url('../images/bg01.png');
  }
  .two {
    background-image: url('../images/bg02.png');
  }
  .ambassador .wrapper {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 756px;
  }
  .ambassador .wrapper h2.title {
    display: block;
    margin: 0 0 15px;
  }
  .ambassador .wrapper span.sub-title {
    color: #ec6d81;
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 10px;
  }
  .ambassador .wrapper p.description {
    color: #00276f;
    display: block;
    font-size: 16px;
    line-height: 26px;
  }
  .ambassador .wrapper .ooki {
    display: block;
    margin: 20px auto 25px;
  }
  .ambassador .wrapper .ooki img {
    display: block;
    margin: 0 auto 10px;
  }
  .ambassador .wrapper .ooki p {
    color: #00276f;
    display: block;
    font-size: 16px;
    line-height: 26px;
  }
  .ambassador .wrapper .slider-wrap {
    display: block;
    position: relative;
  }
  .ambassador .wrapper .slider-wrap .slick-slider  {
    width: 756px;
  }
  .ambassador .wrapper .slider-wrap .slick-slide {
    margin: 0 20px 0 0;
    width: 238px;
  }
  .ambassador .wrapper .slider-wrap .slick-slide:hover { opacity: .8; }
  .ambassador .wrapper .slider-wrap .slick-slide img {
    margin-bottom: 10px;
  }
  .ambassador .wrapper .slider-wrap  {
    margin: 0 -20px 0 0;
  }
  .ambassador .wrapper .slider-wrap a  {
    text-decoration: none;
  }
  .ambassador .wrapper .slider-wrap a p  {
    color: #00276f;
    font-size: 13px;
    line-height: 22px;
  }
  .campaign {
    background-image: url('../images/bg03.png');
    background-position: top center;
    background-size: 100%;
    display: block;
    margin: 0;
    padding: 65px 0 95px;
    text-align: center;
  }
  .campaign .title {
    display: block;
    margin: 0 auto 35px;
    width: 301px;
  }
  .campaign .title img { display: block; width: 100%; }
  .campaign .text02 {
    display: block;
    margin: 0 auto 18px;
    width: 423px;
  }
  .campaign .figure03 {
    display: block;
    margin: 0 auto 11px;
    width: 515px;
  }
  .campaign .text03 {
    display: block;
    margin: 0 auto 28px;
    width: 738px;
  }
  .campaign .figure04 {
    display: block;
    margin: 0 auto 16px;
    width: 437px;
  }
  .campaign .text04 {
    display: block;
    margin: 0 auto 38px;
    width: 535px;
  }
  .campaign p {
    color: #00276f;
    font-size: 16px;
  }
  .campaign span.contact-sec {
    background-image: url('../images/btn_next_blue.png');
    background-position: right 30%;
    background-repeat: no-repeat;
    color: #00276f;
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin: 0 auto;
    text-align: center;
    width: 550px;
  }
  .campaign a.btn {
    background-color: #db607c;
    background-image: url('../images/btn_next_white.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin: 34px auto 26px;
    padding: 19px 0;
    text-align: center;
    text-decoration: none;
    width: 300px;
  }
  .campaign a.btn:hover { opacity: .8; }
  .tvcm {
    display: block;
    margin: 0;
    padding: 75px 0 30px;
    position: relative;
  }
  .tvcm .title {
    display: block;
    margin: 0 auto ;
    width: 303px;
  }
  .tvcm .title img { display: block; width: 100%; }
  .tvcm .description {
    color: #00276f;
    font-size: 16px;
    line-height: 30px;
    margin: 30px auto 0;
    text-align: center;
  }
  .tvcm .media {
    background-image: url('../images/bg04.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 1198px;
    margin: -40px auto 0;
    overflow: hidden;
    width: 948px;
  }
  .tvcm .media .coming-soon {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 800px;
  }
  .tvcm .media .coming-soon:hover { opacity: .8; }
  .tvcm .media .one { margin-top: 80px; margin-bottom: 45px;}
  .youtube-wrapper {
    background: rgba(0,0,0,.9);
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .youtube-wrapper .content {
    display: block;
    left: 50%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 800px;
  }
  .youtube-wrapper .content .video-frame {
    display: block;
    margin: 0 auto;
    padding: 0 0 56.25%;
    position: relative;
    width: 100%;
  }
  .youtube-wrapper .content .video-frame iframe {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .youtube-wrapper .close-btn {
    cursor: pointer;
    display: block;
    height: 32px;
    position: absolute;
    right: 0;
    top: -33px;
    width: 32px;
  }
  .youtube-wrapper .close-btn:hover { opacity: .8; }
  .youtube-wrapper .close-btn:before, .youtube-wrapper .close-btn:after {
    position: absolute;
    left: 15px;
    content: '';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }
  .youtube-wrapper .close-btn:before {
    transform: rotate(45deg);
  }
  .youtube-wrapper .close-btn:after {
    transform: rotate(-45deg);
  }
  .ad-info  {
    background-image: url('../images/bg05.png');
    background-position: bottom center;
    background-repeat: repeat-x;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }
  .ad-info .ad-banner {
    display: block;
    margin: 0 auto;
    width: 870px;
  }
  .ad-info a.btn {
    background-color: #db607c;
    background-image: url('../images/btn_next_white.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    border-radius: 10px;
    bottom: 26px;
    color: #fff;
    display: block;
    font-size: 16px;
    left: -50%;
    line-height: 16px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 19px 0;
    position: absolute;
    right: -50%;
    width: 300px;
  }
  .ad-info a.btn:hover { opacity: .8; }

/* Layout SP */
@media all and (min-width: 320px) and (max-width: 375px) {
  .cover .campaign_neko { width: 134px !important; }
}
@media all and (min-width: 600px) and (max-width: 649px) {
  .cover .campaign_neko { width: 190px !important; }
}
@media all and (min-width: 650px) and (max-width: 699px) {
  .cover .campaign_neko { width: 200px !important; }
}
@media all and (min-width: 700px) and (max-width: 767px) {
  .cover .campaign_neko { width: 250px !important; }
}
@media all and (max-width: 767px) {
  #content { padding: 0; }
  .nl-sp { display: block; }
  .boxTxt {
    background: #fff;
    color: #00276f;
    text-align: center;
    padding: 5% 0 13%;
    font-size: 3.7vw;
    position: relative; }

  .slick-dots li button {
    width: 10px;
    height: 10px; }

  .slick-next {
    right: 0;
    /*background-size: 30px 30px; */
    top: 106%;
    bottom: inherit; }

  .slick-prev {
    left: 0;
    /*background-size: 30px 30px;*/
    top: 106%;
    bottom: inherit; }

  .slick-dots {
    bottom: -20% !important; }

  .list03 #slick02 {
    margin-left: 0; }

  .list03 .slick-next {
    top: 30%;
    right: 0; }

  .list03 .slick-prev {
    top: 30%;
    left: 0; }

  .list03 li {
    margin: 0 5px; }

  .next, .next-two, .next-three {
    background-color: #fff;
    background-image: url(../images/btn_next_blue.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: -20px;
    top: 36%;
  }

  .prev, .prev-two, .prev-three  {
    background-color: #fff;
    background-image: url(../images/btn_prev_blue.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: 20px;
    top: 36%;
  }
  .cover { margin-bottom: 15px; }
  .cover .campaign_neko {
    bottom: auto;
    height: auto;
    right: 15px;
    top: 21%;
    width: 150px;
  }
  .mouthwash { padding: 0 0 17px 0; }
  .mouthwash h2 {
    font-size: 19px;
    line-height: 28px;
    margin: 0 0 15px 0;
    text-align: center;
  }
  .mouthwash p {
    color: #00276f;
    font-size: 13px;
    line-height: 17.5px;
    text-align: center;
    margin: 0 0 25px 0;
  }
  .campaign span.contact-sec {
    background-position: 55% 75%;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    width: 70%;
  }
  .mouthwash a.btn {
    font-size: 15px;
    line-height: 15px;
    padding: 16px 0;
    text-align: center;
  }
  .mouthwash .text01 {
    display: block;
    margin: 39px auto 17.5px;
    width: 100%;
  }
  .mouthwash .figure01 {
    display: block;
    margin: 0 auto 15px;
    width: 100%;
  }
  .mouthwash .figure02 {
    display: block;
    margin: 40px auto 0;
    width: 100%;
  }
  .ambassador {
    background-repeat: repeat-x;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 31px 0 38px;
    position: relative;
  }
  .ambassador .wrapper { width: 100%; }
  .ambassador .wrapper h2.title {
    margin: 0 auto 21px;
    width: 92%;
  }
  .ambassador .wrapper h2.title img { display: block; width: 141px; }
  .ambassador .wrapper span.sub-title {
    font-size: 15px;
    line-height: 25px;
    margin: 0 auto 20px;
    width: 92%;
  }
  .ambassador .wrapper p.description {
    font-size: 13px;
    line-height: 22px;
    margin: 0 auto;
    width: 92%;
  }
  .ambassador .wrapper .ooki {
    display: block;
    margin: 25px auto 25px;
  }
  .ambassador .wrapper .ooki img {
    margin: 0 auto 15px;
    width: 100%;
  }
  .ambassador .wrapper .ooki p {
    font-size: 13px;
    line-height: 19px;
    margin: 0 auto;
    width: 92%;
  }
  .ambassador .wrapper .slider-wrap  {
    margin: 0 0 0 0;
  }
  .ambassador .wrapper .slider-wrap .slick-slider { width: 100%; }
  .ambassador .wrapper .slider-wrap .slick-slide {
    margin: 0 5px;
    width: 200px;
  }
  .ambassador .wrapper .slider-wrap .slick-slide img {
    margin-bottom: 12px;
    width: 100%;
  }
  .ambassador .wrapper .slider-wrap a p {
    color: #00276f;
    font-size: 12px;
    line-height: 19px;
  }
  .campaign {
    background-image: url(../images/bg03_sp.png);
    background-position: top center;
    background-size: 100% 100%;
    padding: 40px 0 40px;
  }
  .campaign .text02 {
    display: block;
    margin: 0 auto 21.5px;
    width: 100%;
  }
  .campaign .figure03 {
    display: block;
    margin: 0 auto 15px;
    width: 100%;
  }
  .campaign .text03 {
    display: block;
    margin: 0 auto 16px;
    width: 100%;
  }
  .campaign .figure04 {
    display: block;
    margin: 0 auto 19px;
    width: 100%;
  }
  .campaign .text04 {
    display: block;
    margin: 0 auto 30px;
    width: 100%;
  }
  .campaign p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
    text-align: left;
    width: 92%;
  }
  .campaign a.btn {
    background-color: #db607c;
    background-image: url(../images/btn_next_white.png);
    background-position: 95% center;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-size: 15px;
    line-height: 15px;
    margin: 24px auto 21px;
    padding: 18px 0;
    text-align: center;
    text-decoration: none;
    width: 300px;
  }
  .tvcm { padding: 41px 0 19px; }
  .tvcm .description {
    color: #00276f;
    font-size: 13px;
    line-height: 23px;
    margin: 20px auto 0;
    text-align: left;
    width: 85%;
  }
  .tvcm .media {
    background-image: url(../images/bg04_sp.png);
    display: block;
    height: auto;
    margin: -15px auto 0;
    overflow: hidden;
    padding: 0 0 39%;
    width: 100%;
  }
  .tvcm .media .coming-soon {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 85%;
  }
  .tvcm .media .one {
    margin-top: 64px;
    margin-bottom: 16px;
  }
  .ad-info {
    background-image: url(../images/bg05_sp.png);
    background-position: bottom center;
    background-repeat: repeat-x;
    display: block;
    margin: 0;
    padding: 20px 0 0 0;
    position: relative;
    width: 100%;
  }
  .ad-info .ad-banner { width: 100%; }
  .ad-info a.btn {
    background-image: url(../images/btn_next_white.png);
    bottom: 14.5px;
    font-size: 15px;
    line-height: 15px;
    padding: 16px 0;
  }
  .youtube-wrapper .content { width: 85%; }
}
/* @media all and (max-width: 450px) {
  .next {
    top: 0.5vw; }

  .prev {
    top: 0.5vw; } } */
/* Layout PC */
@media all and (min-width: 768px) {
  .visual {
    position: relative;
    max-width: 1600px;
    min-width: 1200px;
    margin: 0 auto 0; }

  .visual img {
    width: 100%; }

  .boxTxt {
    position: absolute;
    bottom: -56px;
    left: 50%;
    background: #fff;
    width: 800px;
    color: #00276f;
    text-align: center;
    height: 102px;
    box-sizing: border-box;
    padding-top: 30px;
    font-size: 16px;
    margin-left: -400px; }

  /* .next {
    top: 12px; }

  .prev {
    top: 12px;
  } */

}
@media all and (min-width: 768px) and (max-width: 1199px) {
  .visual {
    min-width: 100%; }

  .visual .boxTxt {
    width: 100%;
    margin: -50px 0 0;
    position: relative;
    left: inherit;
    bottom: inherit;
    box-sizing: border-box;
    background: none;
    padding-top: 0; }

  .visual .boxTxt .inner {
    background: #fff;
    display: block;
    margin: 0 10%;
    height: 102px;
    padding-top: 30px; }

  .prev, .prev-two, .prev-three {
    left: 10%; }

  .next, .next-two, .next-three {
    right: 10%; }

  #main { }
  .mouthwash h2 { font-size: 22px; line-height: 22px; }
  .mouthwash p { font-size: 15px; line-height: 15px; }
  .tvcm .media { margin: -20px auto 0; width: 95%; }
  .tvcm .media .coming-soon {
    width: 88%;
}
  .youtube-wrapper .content { width: 85%; }
}
@media all and (min-width: 768px) and (max-width: 1000px) {
  .list03 #slick02 {
    margin: 0; }

  .list03 #slick02 li {
    margin: 0 5px; }

  .list03 #slick02 li img {
    width: 100%; }

  .list03 .slick-prev {
    left: 5px;
    top: 30%; }

  .list03 .slick-next {
    top: 30%; } }

/*# sourceMappingURL=top.css.map */
